.Register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  gap: 5em;
  margin: 0 auto;
  padding: 4rem 0;
  width: 90%;
  max-width: 60rem;
}
.register-form{
  box-sizing: border-box;
  padding: 2em;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  

}
strong{
  margin: 10px;
}
.register-btn{
  background-color: #439eaa;  
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;

}
.register-btn:hover{
  scale: 0.97;
  transition: 0.2s ease-in-out
}