button, span{
  margin: 0 auto;
  margin: 10px;
}
.increase-btn{
  background-color: #49a9b6;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  
}
.decrease-btn{
  background-color: #49a9b6;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  
}
.order-btn{
  background-color: #49a9b6;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;

}
.quantity-span{
  font-weight: 500;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
  
}